@media(max-width:767px){.section-slider{margin-top:51px;height:auto;overflow:auto}.section-slider img{-webkit-transform:translateY(0);transform:translateY(0)}.flexbox-section .container-flex{flex-flow:row wrap;justify-content:space-around}}