@import "mixins.less";

.section-slider{
  margin-top: 51px;
  height: 300px;
  overflow: hidden;

  img{
    .translateY();
    width: 100%;
    display: none;
  }
}

.main-section{
  margin-top: 50px;
}

.flexbox-section{
  margin-top: 50px;

  .container-flex{
    display: flex;
    justify-content: center;

    article{
      .transitions();
      padding: 15px;
      background: @light-grey;
      width: 33.33%;
      min-width: 200px;

      &:nth-of-type(2){
        background: darken(@light-grey,10%);
      }
      &:nth-of-type(3){
        background: darken(@light-grey,20%);
      }

      &:hover{
        background: @dark-grey;

        a{
          color: @white;
        }

        svg{
          .rotate(-360deg);
          width: 30%;

          path{
            fill: lighten(@blue, 50%);
          }
        }
      }

      a{
        color: @dark-grey;
        text-decoration: none;
      }

      svg{
        .transitions(1000ms);
        width: 50%;

        path{
          fill: @blue;
        }
      }
    }
  }
}