@white: #ffffff;
@dark-grey: #404040;
@black: #010202;
@light-grey: #f3f3f3;
@placeholder: #cbcbcb;
@border-grey: #f0f0f0;
@blue: #2394BC;

.font-face(){
  font-family: 'Oswald', arial, helvetica, sans-serif;
}
.font-bold(){
  font-weight: 700;
}
.font-semibold(){
  font-weight: 600;
}
.font-medium(){
  font-weight: 500;
}
.font-normal(){
  font-weight: 400;
}
.font-light(){
  font-weight: 300;
}
.font-italic(){
  font-style: italic;
}

.text-upper(){
  text-transform: uppercase;
}
.text-transform(@transform: none){
  text-transform: @transform;
}

.text-center(){
  text-align: center;
}
.text-align(@position: left){
  text-align: @position;
}

.relative(){
  position: relative;
}
.absolute(){
  position: absolute;
}
.fixed(){
  position: fixed;
}

.fl-l(){
  float: left;
}
.fl-r(){
  float: right;
}
.float(@float:none){
  float: @float;
}

.after-before(){
  content: "";
  display: block;
}

.round-borders (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.transitions (@miliseconds: 400ms){
  -webkit-transition: all @miliseconds ease;
  -moz-transition: all @miliseconds ease;
  -o-transition: all @miliseconds ease;
  transition: all @miliseconds ease;
}

.translateY(@procent: -50%){
  -webkit-transform: translateY(@procent);
  transform: translateY(@procent);
}

.rotate(@deg: 0deg){
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
}

.box-shadow(@x: 0, @y: 0, @blur: 1px, @spread: 1px, @color: rgba(0, 0, 0, 0.1)){
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
