@import "mixins.less";

@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (max-width: 1199px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){
  .section-slider{
    margin-top: 51px;
    height: auto;
    overflow: auto;

    img{
      .translateY(0);
    }
  }

  .flexbox-section{

    .container-flex{
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }
}